SUPABASE_PUBLIC_URL=https://api.yourdomain.com
SUPABASE_URL=https://api.yourdomain.com
SUPABASE_ANON_KEY=your_anon_key
SUPABASE_SERVICE_KEY=your_service_role_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
STUDIO_PG_META_URL=http://studio-pgmeta-proxy:8082
